*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-1{
    background-image: url("../images/pexels-photo-8387832.jpeg");
    height: 500px;
    /* width: 100%; */
    background-size: cover;
    /* padding: 22rem; */
    background-repeat: no-repeat;
    background-position: center;
}
.card-1{
height: 200px;
}